.main-wrapper .main-header-content {
  background-color: #FFFFFF;
  border-bottom: 5px solid #464646;
  display: inline-block;
  width: 100%;
  margin: 0px;
  font-size: 16px; }

.main-header-content .logo {
  padding-left: 18px;
  padding-top: 10px; }

.full-bar {
  border-left: 1px solid #e5e5e5;
  height: 100%; }

.full-bar-board {
  width: 100px; }

.login {
  height: 50px;
  float: right; }

.navigation {
  float: right;
  height: 110px; }

.navigation .full-bar a {
  display: inline-block;
  padding-top: 33px;
  padding-bottom: 10px;
  height: 100%; }

.navigation .full-bar a:hover {
  font-weight: 600;
  color: #04bcbc;
  z-index: 400; }

.navigation .full-bar .active {
  font-weight: 600;
  color: #f9822a;
  background-color: #eee; }

.text-center-silver {
  width: 100%;
  padding-left: 24px; }

.text-center-portal {
  width: 100%;
  padding-left: 13px; }

.text-center-reserve {
  width: 100%;
  padding-left: 32px; }

.navigation .full-bar .header-menu {
  left: -95px;
  min-width: 176px; }

.navigation .full-bar .header-menu li a {
  padding: 15px 7px;
  width: 100%; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body, header, nav, section, article, div {
  display: block; }

html, body {
  height: 100%; }

body {
  background-color: #f2f2ef;
  width: 100%;
  overflow: hidden;
  color: #464646;
  font-family: "Open Sans", "Oswald", Verdana, Arial, Tahoma, SansSerif;
  font-size: 13px; }

.img-scale {
  width: 150px;
  height: 150px; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body, header, nav, section, article, div {
  display: block; }

html, body {
  height: 100%; }

body {
  background-color: #f2f2ef;
  width: 100%;
  overflow: hidden;
  color: #464646;
  font-family: "Open Sans", "Oswald", Verdana, Arial, Tahoma, SansSerif;
  font-size: 13px; }

.img-scale {
  width: 150px;
  height: 150px; }

.cursor {
  cursor: pointer; }

.welcome-border-both {
  border-left: 1px solid #d3d2d0;
  border-right: 1px solid #d3d2d0; }

.welcome-border-left {
  border-left: 1px solid #d3d2d0; }

.welcome-border-right {
  border-right: 1px solid #d3d2d0; }

.gap-links {
  margin: 5px 1px; }

/*Footer Section*/
.footer-container {
  background-color: #424242;
  color: white;
  margin: 0px; }

.footer-links {
  padding: 1% 0 0 8%; }

.footer-links ul {
  list-style-type: none; }

.footer-links-border {
  border-right: 2px solid #FFFFFF;
  text-align: center; }

.footer-links ul li {
  float: left;
  padding: 0.6%; }

.referral-align {
  position: relative;
  padding-left: 0px;
  width: 150px;
  text-align: center; }

.footer-links a {
  color: #FFF;
  font-weight: bold;
  font-size: 10px; }

.copy-write {
  text-align: center;
  margin-top: .3%; }

.copy-write p {
  margin: 0;
  font-size: 10px; }

.change-section-login {
  margin: 0px;
  padding-top: 10px;
  max-height: calc(100% - 242px);
  min-height: calc(100% - 186px);
  overflow-y: scroll; }

.main-header-content-login {
  padding-bottom: 18px; }

.login-view {
  width: 50%;
  margin: 0 auto;
  color: #ffffff;
  position: relative;
  border-radius: 3px 3px 3px 3px; }

.login-view .log-btn {
  float: left;
  width: 45%;
  background-color: #1CAEA4;
  padding: 2px 2px 4px 65px;
  color: #FFFFFF;
  border-radius: 8px; }

.login-view .or-btn {
  float: left;
  width: 25%;
  text-align: center;
  color: #ffffff;
  border-radius: 50px;
  padding: 2px 2px 4px 4px;
  margin-left: 35%;
  background-color: #3B3C40;
  position: absolute; }

.login-view .reg-btn {
  float: left;
  width: 45.5%;
  text-align: center;
  background-color: #1CAEA4;
  padding: 2px 2px 4px 10px;
  margin-left: 9.5%;
  color: white;
  border-radius: 8px; }

.main-login-header {
  display: block;
  width: 100%;
  margin-bottom: 10%;
  border-bottom: 3px solid #f2f2ef; }

.mywidth .input-group-addon .glyphicon {
  color: black; }

.login-view .log-btn :hover {
  font-weight: 600; }

.login-view .reg-btn :hover {
  color: #ffffff;
  font-weight: 600; }

.login-view .reg-btn .active {
  color: #ffffff;
  font-weight: 600; }

.login-view .log-btn .active {
  color: #ffffff;
  font-weight: 600; }

.reg-name {
  width: 18px; }

.glyph-color {
  color: black; }

.login-wrapper {
  margin: 0 auto;
  border-radius: 5px 5px 5px 5px;
  padding: 0% 5% 16% 5%;
  height: 100%;
  background-image: url("../../images/login-texture.jpg"); }

.login-wrapper a {
  color: #FFFFFF; }

.login-img {
  height: 55px;
  margin-bottom: 20px; }

.form-signin .input-group {
  border: 2px solid black; }

.login-wrapper .login-header {
  margin-bottom: 5%;
  padding-top: 3%; }

.main-wrapper {
  border: 8px solid #464646;
  margin: 0 auto;
  width: 1024px;
  height: 100%; }

/*Main Section*/
.side-nav {
  position: fixed;
  padding: 1% 0% 0% 1%; }

.side-nav ul {
  list-style-type: none;
  padding-left: 5%; }

.reserve-links {
  cursor: pointer;
  text-decoration: underline; }

.nav-logo {
  display: block; }

.change-section {
  margin: 0px;
  margin-top: 10px;
  max-height: calc(100% - 230px);
  min-height: calc(100% - 230px);
  overflow-y: scroll; }

.deposit-pop-over {
  max-width: 100%; }

.deposit-pop-over .popover-title {
  background-color: #ABBDBF;
  font-weight: 600;
  font-size: 16px;
  color: #23527C;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid #09507C; }

.deposit-pop-over .year-option {
  margin-left: 30px; }

/*board Time*/
.board-time-wrapper {
  padding: 5px;
  border: 3px solid #09507c;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #ABBDBF;
  overflow: auto; }

.board-time-wrapper-main {
  clear: left;
  padding: 5px;
  border: 3px solid #09507c;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #ABBDBF;
  margin-bottom: 10px; }

.main-img-scale {
  height: 62px; }

.board-time-wrapper-warning {
  clear: left;
  padding: 5px;
  border: 3px solid #a28282;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #ABBDBF;
  overflow: auto;
  margin-bottom: 10px; }

.mywidth {
  width: 100%;
  margin-bottom: 5%; }

.address-tag {
  float: left; }

.spread-height {
  height: 75px;
  background-color: #FFFFFF; }

.bottom-border-board-time {
  border-bottom: 3px solid #09507c;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 4%; }

.board-time-inner-wrapper {
  padding: 2%;
  display: inline-block; }

/*Reservations*/
.reservation-img-div {
  padding-left: 10px;
  padding-top: 5px; }

.reservation-img-div img {
  width: 95px; }

.reservation-img-div img {
  width: 95px; }

.address-tag .reserve-links {
  padding-left: 0px; }

.border-both {
  border-left: 1px solid #d3d2d0;
  border-right: 1px solid #d3d2d0; }

.navigation .full-bar .my-portal {
  padding-left: 27px;
  padding-right: 27px; }

.tab-head {
  background-color: #ABBDBF;
  color: #FFFFFF; }

.year-margin {
  margin-top: 10px;
  margin-bottom: 15px; }

.reserve-header {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #555555; }

.margin-reserve-form {
  margin-bottom: 10px; }

.reserver-add-guest-btn {
  float: right;
  margin-right: 20px; }

.add-list {
  margin: 10px 10px 10px 25px; }

.add-list input {
  margin-right: 10px; }

.remove-btn {
  color: #ff0000; }

/*silver leaf exchange*/
.se-date {
  margin-left: 5px; }

.row-space {
  margin-top: 5px; }

/*update info*/
.info-holder {
  background-color: #ffffff;
  width: 100%;
  display: inline-block;
  border: 2px solid #09507c; }

.edit-contact {
  float: right;
  margin-right: 35px;
  padding: 6px 25px; }

.account-holder {
  margin: 10px 5px; }

.legal-name-field-holder {
  margin-bottom: 8px;
  width: 100%;
  border-bottom: 1px solid #d3d2d0;
  padding: 10px 8px 10px 20px; }

.submit-info {
  margin: 10px 0px 10px 0px; }

.input-pad {
  padding: 0px; }

/*# sourceMappingURL=main.css.map */
