@import "partials/_header";
@import "partials/_config";
@import "partials/_general";
@import "partials/footer";
@import "partials/_login";

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}
* {
  box-sizing: border-box;
}

.header {
  position:absolute;
  height:55px;
  width:100%;
  background-color: #eaebec;
  z-index: 4;
}
.sideNav {
  position: absolute;
  width:100%;
  background-color: #354052;
  height: 100%;
  z-index: 4;
  padding-top: 0px;
  margin-top: 55px
}
.sideNav ul {
  list-style: none;
  padding: 0;
  margin: 0px 0px;
}
.sideNav ul li {
  border-bottom: 1px solid #45536a;
  position:relative;
}
.sideNav ul li a {
  color: #6b7991;
  text-decoration: none;
  height: 75px;
  padding-top: 15px;
  padding-left: 25px
}

@media screen and (min-width:640px) {
  .sideNav {
    width: 90px
  }
  .sideNav ul li {
    text-align: center;
  }
  .sideNav ul li a {
    padding-right: 35px
  }

  .sideNav ul li span:nth-child(2){
    display: none;
  }
  .sideNav ul li i {
    font-size: 30px;
  }
  .titleSearch {
    margin-left: 100px;
  }
  #box1 {
    width: 90px;
    height: 938px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #box2 {
    width: 90px;
    height: 1000px;
    overflow:visible;
  }
  #title h3{
    padding-left: 120px;
    padding-top: 0px;
  }


}

@media screen and (min-width: 1000px){
  .sideNav {
    width: 200px;
  }
  .sideNav ul li {
    text-align: center;
  }
  .sideNav ul li a {
    padding-right: 25px;
  }
  .sideNav ul li span:nth-child(2) {
    display: block;
    font-size: 12px;
  }
  .titleSearch {
    margin-left: 12%;
  }
  #box1 {
    width: 200px;
    height:880px;
    overflow-y: visible;
    overflow-x: hidden;
  }

  #box2 {
    width: 200px;
    height: 900px;
    overflow:visible;

  }
  #title h3{
    padding-left: 250px;
    padding-top: 0px;
  }

}

.container-fluid2 {
  background-color: white;
  /*height:1173px;*/
  height:860px;
  overflow-x: hidden;
  overflow-y: hidden;

}


/* Side-Nav -- Updated css*/
.panel-body {
  background-color: #a8b2c2;
  z-index: 2;
  margin-left: -55px;
  margin-top: 146px;
  position:absolute;
  width: 200px;

}

.panel-body ul li a {
  color: #207cc9;
  padding-right:2px;
  padding-top: 14px;
  text-decoration: none;

}
.panel-body ul li {
  height: 50px;
  text-align: left;
  width: 199px;
  margin-left: -14px;
  padding-left: 5PX

}
.panel-body ul li a i {
  font-size: 15px;

}

.panel-body ul li span:nth-child(2) {
  display:inline;
  font-size: 16px;
}
.panel-body ul {

  list-style: none;
  padding: 0;
  margin: 0px 0px;
}
.panel-body li:hover {
  background: #c9d6eb;
}

.rainDrops li.menu-list2.activia{
  background: #5b89af;
}
.rainDrops a.a-select2.activia2{
  color:white;
}



#slideout:hover + .panel-body {
  visibility: visible
}

#cp_menu li:hover {
  background: #1e76c0;
}
#cp_menu a:hover {
  color: #c5c7c6;
}

a.a-select.active {
  color: white;

}

li.menu-list.activated{
  background: #235eac;

}

li a {
  width: 100%;
  height: 100%;

  display:block;
}
li.menu-list2.activia{
  background: #5b89af;
}
a.a-select2.activia2{
  color:white;
}

/*---Nav Bar--*/
.logo {
  margin-left: 12px;
  margin-top:10px;
  float:left;
}
.brand {
  line-height: 55px;
  font-size: 25px;
  color: #fff;
  margin-left: 10px;
}
#accessNavBar{
  margin:0px;
  padding: 0px;
  list-style: none;
}
#accessNavBar>li{
  margin-right: 0px;
  float:left;
  margin-left: 0px;
  width:120px
}
#accessNavBar li a{
  line-height: 55px;
  text-align: center;
  color: #235eac;
  text-decoration: none;
}
#accessNavBar li a:hover{
  background:#d4d4d4;
  color:white;
}

li.profile-menu.selected {
  background:#d4d4d4;
}
a.profile-select.select {
  color:#fff;
}

.prior-nav{
  float: right
}
header::after {
  content: '';
  display: table;
  clear:both;
}

#parent{
  display: flex;

}
#main-container {
  flex: 1;
  margin-top: 55px;
  overflow-y: hidden;

}

.btn-default{
  width: 180px;
}

.pointer-arrow.activated:after{
  content: '';
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid white;
  border-bottom: 10px solid transparent;
  position:absolute;
  left:181px;
  top:13px;
  margin-top: 15px;
  z-index: 5
}

/*--- First Row ---*/
#Title-location{
  background: #fff;
  height: 75px;
  margin-bottom: -80px;
}
#title{
  display: flex;
}

/*--- Date picker ---*/
.date-selection{
  width:250px;
  margin-right: 12px;

}
.thecalendar{
  float:right;

}
.date-text{
  color: #1e76c0;
}
.caldate{
  width: 1200px;
  float:left; /* add this */
  height: 50px;
  margin-top: 12px;

}
.calendar-section{
  margin-top: 0px;
  display: flex;
  height: 55px;
}

/*Site Location Btn*/
#location-dropdown{
  flex:1;
  margin-right: 10px;
  margin-top: 12px;
}
/*--- Second Row ---*/
.scnd{
  background: #fff;
  height: 50px

}
.btnsize{
  width: 40px;
  background-color: pink;
}
.search-bar{
  margin-left: 250px;
}

.hrline{
  margin-left: 250px;
  margin-top: 65px;
}

/*--- Mian Content ---*/
.thirdRow{
  background: white;
  height: 84%;
}
.main-content{
  background: #fff;
  height: 743px;
  margin-left: 270px
}

/*--- Table ---*/
