$font-family: 'Open Sans','Oswald',Verdana, Arial, Tahoma, SansSerif;
$font-size: 13px;
$pointer:pointer;


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, header, nav, section, article, div {
  display: block;
}

html,body{
  height: 100%;
}

body {
  background-color: #f2f2ef;
  width: 100%;
  overflow: hidden;
  color: #464646;
  font-family: $font-family;
  font-size: $font-size;
}

.main-wrapper{
  padding: 0px;
}


/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 680px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #b1aaaa;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
