<!DOCTYPE html>
<html lang="en">
<head>
    <title>App Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.google.com/?selection.family=Open+Sans|Oswald|Proza+Libre">
    <!--Application CSS Ch-->
    <link rel="stylesheet" type="text/css" href="app/css/sass/main.css">
    <%=htmlWebpackPlugin.files.webpackManifest%>
</head>
<body ng-app="app">
<ui-view></ui-view>
</body>
</html>