<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wound Care</title>



    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.google.com/?selection.family=Open+Sans|Oswald|Proza+Libre">
    <link rel="stylesheet" type="text/css" href="app/css/librarycss/ui-grid.min.css">
    <!-- Date range picker -->
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" 	href="https://formden.com/static/cdn/bootstrap-iso.css">

    <!--Font Awesome (added because you use icons in your 	prepend/append)-->
    <link rel="stylesheet" 	href="https://formden.com/static/cdn/font-	awesome/4.4.0/css/font-awesome.min.css" />

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .formden_header h2, .bootstrap-iso 	.formden_header p, .bootstrap-iso form{font-family: 	Arial, Helvetica, sans-serif; color: black}.bootstrap-iso 	form button, .bootstrap-iso form button:hover{color: 	white !important;} .asteriskField{color: red;}</style>







    <link rel="stylesheet" type="text/css" href="app/css/librarycss/angular-material.min.css">


    
    

    <!--Application CSS-->
    <link rel="stylesheet" type="text/css" href="app/css/sass/main.css">
    <%=htmlWebpackPlugin.files.webpackManifest%>

    


</head>
<body ng-app="woundCare">
<ui-view></ui-view>
    
   
    
    <!-- Include Date Range Picker -->
	<script type="text/javascript" 	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-	datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
      </script> 
    
    <!-- Retrieve Files -->
     <script type="text/javascript">
    function imagepreview(input) {
        if (input.files && input.files[0]) {
        var filerd = new FileReader();
            filerd.onload=function (e) {
                var img = document.getElementById('img');         img.setAttribute('src',e.target.result);
            }
            filerd.readAsDataURL(input.files[0]);
            return false;
        }
    }
    </script>
   <script type="text/javascript">
    function iconpreview(input) {
        if (input.files && input.files[0]) {
        var myfilerd = new FileReader();
            myfilerd.onload=function (e) {
                var img = document.getElementById('iconimg');         iconimg.setAttribute('src',e.target.result);
            }
            myfilerd.readAsDataURL(input.files[0]);
            return false;
        }
    }
    </script>
    
                <!-- input image hover button -->
<script>
$(document).ready(function(){
    $("#in-btn").hover(function(){
        $(".newer").addClass("blue-blue");
    });
    $("#in-btn").mouseleave(function(){
        $(".newer").removeClass("blue-blue");
    });
});            
</script>
            
<script>
$(document).ready(function(){
    $("#in-btn2").hover(function(){
        $(".newer2").addClass("new-blue");
    });
    $("#in-btn2").mouseleave(function(){
        $(".newer2").removeClass("new-blue");
    });
});            
</script>
    
    


    
    
</body>
</html>


































