<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <h3><strong>My Accounts</strong></h3>
    <h6>Shown below are your current App accounts.</h6>
    <table class="table table-hover table-bordered">
        <thead class="table-inverse tab-head">
        <tr>
            <th class="col-md-2 text-center">ACCOUNT</th>
            <th class="col-md-5 text-center">HISTORY</th>
            <th class="col-md-1 text-center">AMOUNT DUE TODAY</th>
            <th class="col-md-2 text-center"> AMOUNT DUE ON 12/01/16</th>
            <th class="col-md-2 text-center">PRINCIPAL BALANCE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center">
                <img src="app/images/piney_shores_icon.jpg">
                <strong>{{account.accountData.resort}}</strong>
                {{account.accountData.unit}}
            </td>
            <td>
                <ul style="list-style: none">
                    <li><strong>2014</strong> D1.</li>
                    <li><strong>2015</strong> D1.</li>
                    <li>
                        <strong>2016</strong> D1.
                    </li>
                    <li><strong>2017</strong> D1.</li>
                    <li> <strong>2018</strong> D1.
                    </li>
                </ul>
            </td>
            <td>
                $ 15.21
                <input type="button" class="btn" name="Pay" value="Pay">
            </td>
            <td>
                $ 55.21
                <input type="button" class="btn" name="Pay" value="Pay">
            </td>
            <td>
                $ 0.00
            </td>
        </tr>

        </tbody>
    </table>
</div>