<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <h3 class="bottom-border-board-time"><strong>Book My board Time</strong></h3>
    <div class="board-time-wrapper">
        <div class="board-time-inner-wrapper">
        <header class="text-center ">
            <h5><strong>board Time</strong></h5>
            <h5><strong>Search Availability</strong></h5>
        </header>
         <div class="col-md-12 mywidth">
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-default pull-right">Search</button>
        </div>
    </div>
    </div>
</div>
</div>