<div class="col-md-12 board-time-wrapper-main">
    <div class="spread-height">
        <div class="col-md-2 reservation-img-div">
            <img ng-src="app/images/{{resort.img}}">
        </div>
        <div class="col-md-7 border-both">
            <div class="address-tag">
                <a href="" class="reserve-links col-md-12"><h5 class="text-left"><strong>D1</strong></h5>
                </a>
                <a target="_blank">
                    D2
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <strong class="">Acct:D3</strong>
        </div>
    </div>
    <div class="col-md-12 text-left">
        <a ui-sref="main.resweek" class="cursor">Reserve My Week</a>| <span class="cursor" uib-popover-template="'app/templates/deposit.html'" popover-class="deposit-pop-over" popover-t popover-placement="bottom-left" popover-title="Deposit for App">Deposit</span>  | <a ui-sref="main.silverexchange" class="reserve-links">App Exchange</a> | <a href="" class="reserve-links">Reservation History</a> | <a href="" class="reserve-links">Make Payment</a>
    </div>
</div>