<div class="input-group dropdown form-control DropDwnL">
    <input type="text" class="form-control countrycode dropdown-toggle" ng-model="selected">
    <ul class="dropdown-menu">
        <li ng-repeat="option in options" ng-click="choose($event)" data-value="{{option}}">
            {{option}}
        </li>
    </ul>
    <span role="button" class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><span class="caret"></span></span>
</div>