<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <h3 class="reserve-header"><strong>App Exchange</strong></h3>

    <div class="row">
        <div class="col-md-6">
            <label>
                <h5>
                    <strong>Filter By :</strong>
                </h5>
            </label>
        </div>
        <div class="col-md-12">
            <label class="col-md-2">Destination: </label>
            <select class="col-md-8">
                <option value="H1">H1
                    Resort
                </option>
                <option value="H2">H2
                    Mountain Resort
                </option>
                <option value="H3">H3
                    Resort
                </option>
            </select>
        </div>
        <div class="row-space col-md-12"></div>
        <div class="col-md-6">
            <label class="col-md-4">Check In: </label>

            <select class="col-md-6 se-date">
                    <option value="Jan 2017">Jan 2017</option>
                    <option value="Feb 2017">Feb 2017</option>
                    <option value="Mar 2017">Mar 2017</option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="col-md-4">Number of Nights: </label>
            <select class="col-md-3">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="col-md-12">
            <input class="reserver-add-guest-btn btn btn-success" type="submit" value="Search">
        </div>

    </div>
</div>
