<div class="col-md-12">

    <div class="col-md-12 investRevBody">
       
            <div class="col-md-3 invesRevDropdown">
                <div class="investTitle">
                    <p class="investTText">Investigation Review</p>
                </div>
                <div class="testOrder-DD">
                    <div class="appetite dropDlist1">
                <label class="upper-label" for="inputAppetite">New Test Order</label>
                <form>
                    <select class="form-control DropDwnL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </form>
            </div><!--End of AppetiteDpDwn-->
            <div class="supDpDwn dropDlist1">
                <label class="upper-label" for="inputSuppliments">New Test Reviewed</label>
                <form>
                    <select class="form-control DropDwnL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </form>
            </div><!--End of SupplimentsDpDwn-->
                </div>
                <div class="testRev-DD">
                </div>
            
            </div>
            <div class="col-md-9 invesRevTable">
                <div class="dataTable">
                
                </div>
            
            </div>
            
       

    </div><!-- End of inest upper body-->

    <div class="col-md-12">
        <button type="button" class="btn btn-secondary" ng-click="investigationReviewCtrl.goToPatientList()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="investigationReviewCtrl.goToPatientList()">Save and Exit</button>


    </div>



</div>