<div class="main-wrapper">
    <nav class="navbar main-header-content main-header-content-login">
        <div class="navbar-header logo">
            <img src="app/images/header_logo.png" ui-sref="main.home">
        </div>
    </nav>
    <section class="change-section-login">
        <div class="login-view">
            <div class="main-login-header">
                <div class="log-btn cursor">
                    <h4 ui-sref=".signin" ui-sref-active="active">Login</h4>
                </div>
                <div class="or-btn">
                    <h4>OR</h4>
                </div>
                <div class="reg-btn cursor">
                    <h4 ui-sref=".register" ui-sref-active="active">Register</h4>
                </div>
            </div>
            <ui-view></ui-view>
        </div>
    </section>
    <footer class="footer-container">
        <div class="footer-links col-md-12 col-xs-12 col-lg-12 col-sm-12">
        </div>
        <div class="copy-write">
            <p>
                <strong>
                    Entire Site and Content &copy;2016 App Resorts, Inc. All Rights Reserved.
                </strong>
            </p>
            <br/>
            <p>
                This
                advertising material is being used for the purpose of soliciting the sale of timeshare plans. This offer
                is
                not directed to residents in any state in which a timeshare registration is required, but in which
                registration requirements have not yet been met. All trademarks, service marks, brand names and logos
                not
                owned by App Resorts, Inc. are used under license.
            </p>
        </div>
    </footer>
</div>





