
<!-- Main Wrapper Starts here-->
<div class="container-fluid main-wrapper " ng-controller="mainController as mainCtrl">

    <!--Header Section Starts-->

    <nav class="navbar navbar-default header">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="app/images/logo.png" alt="Veristream" width="179" height="35" >
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="profile-menu"><a href="#" class="profile-select" onclick="return false">Terms of Use</a></li>
                    <li class="profile-menu"><a href="#" class="profile-select" onclick="return false">My Profile</a></li>
                    <li class="profile-menu"><a href="#" class="profile-select" onclick="return false">Help</a></li>
                    <li class="profile-menu selected"><a class="profile-select select" onclick="return false"><span class="glyphicon glyphicon-user"></span>Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header Section Ends-->


<!--Main Container Starts Here-->
<section class="change-section row" style="border:1px solid black">
    <div class="side-nav col-md-1" style="border:1px solid black">

    </div>

    <!--This is the div where everything changes- Main content-->
    <div class="main-content col-md-11" style="border:1px solid black">
        <ui-view></ui-view>

    </div>
    <!--Main Content Ends here-->
</section>
    <!--Main Container Ends Here-->



    <footer class="footer-container" style="border:1px solid black">
        <div class="footer-links col-md-12 col-xs-12 col-lg-12 col-sm-12">

        </div>
        <div class="copy-write">
            <p>
                <strong>
                    Entire Site and Content &copy;2017 Wound Care All Rights Reserved.
                </strong>
            </p>

            <br/>
            <p>
               Very Imp Section
            </p>

        </div>

    </footer>


</div>
