<div class="main-wrapper" ng-controller="mainappController as appCtrl">
    <nav class="navbar main-header-content" >
        <div class="navbar-header logo">
            <img src="app/images/header_logo.png" ui-sref="main.home">
        </div>
        <div ng-include src="'app/templates/navigation.html'">  </div>
    </nav>
    <section class="change-section">
        <div class="col-lg-3 col-md-3 col-sm-3 side-col">
            <nav class="side-nav">
                <h5 class="cursor" ui-sref="main.home"><strong>My App</strong></h5>
                <ul class="left-links">
                    <li class="gap-links">
                        <a class="cursor" ui-sref="main.myaccount">My Accounts</a>
                    </li>
                    <li class="gap-links">
                        <a class="cursor gap-links" >Referral Program</a>
                    </li>
                    <li class="gap-links">
                        <a class="cursor gap-links">My Special Offers</a>
                    </li>
                </ul>
                <h5 class="cursor" ui-sref=".payment"><strong>Payment & History</strong></h5>
                <ul class="left-links">
                    <li class="gap-links">
                        <a class="cursor gap-links">Make a Payment</a>
                    </li>
                    <li class="gap-links">
                        <a class="cursor gap-links">Payment History</a>
                    </li>
                </ul>
                <h5 class="cursor" ui-sref=".reserve"><strong>My Reservation</strong></h5>
                <ul class="left-links">
                    <li class="gap-links">
                        <a class="cursor gap-links">Color Chart</a>
                    </li>
                </ul>
                <h5 class="cursor"><strong>Contact Us</strong></h5>
            </nav>
        </div>
        <ui-view></ui-view>
    </section>

    <footer class="footer-container">
        <div class="footer-links col-md-12 col-xs-12 col-lg-12 col-sm-12">
            <ul>
                <li class="col-md-2 col-xs-2 col-lg-2 col-sm-2 footer-links-border"><a target="_blank"
                                                                                       href="http://www.Appresorts.com/privacy-policy">Privacy
                    Policy</a></li>
                <li class="col-md-2 footer-links-border cursor"><a target="_blank"
                                                                   href="http://www.Appresorts.com/resorts/search">Resort
                    Search</a></li>
                <li class="col-md-2 footer-links-border cursor"><a target="_blank"
                                                                   href="http://www.Appresorts.com/sitemap">Sitemap</a>
                </li>
                <li class="col-md-2 footer-links-border cursor"><a target="_blank"
                                                                   href="http://www.Appresorts.com/discover-vacation-ownership/newsletter">Newsletter
                    Sign-Up</a></li>
                <li class="col-md-2 footer-links-border cursor"><a target="_blank"
                                                                   href="http://www.Appresorts.com/special-offers">Special
                    Offers</a></li>
                <li class="col-md-2 cursor"><a target="_blank"
                                               href="http://www.Appresorts.com/about-App/around-the-web">Around
                    the Web</a></li>
            </ul>
        </div>
        <div class="copy-write">
            <p>
                <strong>
                    Entire Site and Content &copy;2016 App Resorts, Inc. All Rights Reserved.
                </strong>
            </p>

            <br/>
            <p>
                This
                advertising material is being used for the purpose of soliciting the sale of timeshare plans. This offer
                is
                not directed to residents in any state in which a timeshare registration is required, but in which
                registration requirements have not yet been met. All trademarks, service marks, brand names and logos
                not
                owned by App Resorts, Inc. are used under license.
            </p>

        </div>

    </footer>


</div>







