<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <h3><strong>Manage My Account</strong></h3>
       <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href="">
            <img class="img-scale" src="app/images/changelogin.png">
            <h5 class="text-justify">Change My Login E-Mail</h5>
        </a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a class="nav-logo" href="">
            <img class="img-scale" src="app/images/changepwd.png">
            <h5 class="text-justify">Change My Password</h5>
        </a>
    </div>


</div>