<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="app/images/logo" alt="Veristream" width="179" height="35" >
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="profile-menu"><a href="#" class="profile-select" onclick="return false">Terms of Use</a></li>
                <li class="profile-menu"><a href="#" class="profile-select" onclick="return false">My Profile</a></li>
                <li class="profile-menu"><a href="#" class="profile-select" onclick="return false">Help</a></li>
                <li class="profile-menu selected"><a class="profile-select select" onclick="return false"><span class="glyphicon glyphicon-user"></span>Log Out</a></li>
            </ul>

        </div>
    </div>
</nav>