<div class="col-md-12" id="patientSection">
    <div class="col-md-9">
        <div class="col-md-12">
            <div class="topRowBtn">
              <div class="dropdown" id="location-dropdown">
						 <div class="locationDD">
  						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   						 Site Location
    						<span class="caret"></span>
  						</button>
  						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
    						<li><a href="#">Orlando, Fl</a></li>
    						<li><a href="#">Atlanta, Ga</a></li>
    						<li><a href="#">London, UK</a></li>
    						<li role="separator" class="divider"></li>
    						<li><a href="#">Home</a></li>
  						</ul>

						</div>	
						</div><!-- Dropdown menu -->
        <button type="button" class="btn btn-primary newPatientBtn" ng-click="listCtrl.createNewPatient()">New Patient</button>
        </div> <!-- End of TopRowBtn-->        
        </div> <!-- End of TopRowColumn-->
        
        <div class="patientDataTable">
            <div class="patientTable">
                
                <ul class="nav nav-tabs">
						  <li class="active">
						   	<a href="#scheduleVisit" data-toggle="tab" ng-click="listCtrl.changeList('active')">Active Patients</a>
						  </li>
						  <li>
						   	<a href="#currentVisit" data-toggle="tab" ng-click="listCtrl.changeList('inactive')">Inactive Patients</a>
						  </li>
					  
					  </ul> <!-- End Tab Nav -->


				<div class="tab-content">
				  <!-- Tables Begin here -->

					<div ui-grid="listCtrl.gridOptions" ui-grid-pagination ui-grid-selection ng-click="listCtrl.getRow()" class="col-md-12 grid"></div>

				</div><!-- Ent of tab Content -->
                
 
            </div>
        </div> <!-- End of the Data table section-->
    </div>
    <div class="col-md-3 startVisitBtn">
        <h4 class="pName">{{listCtrl.rowtobebinded}}</h4>
        <br>
        <hr class="style1">
        <button type="button" class="btn btn-primary startVistBtn" ng-click="listCtrl.updatePatient()">Start Visit</button> 
        <button type="button" class="btn btn-primary nonVisitBtn" ng-click="">Non - Visit</button>
        <button type="button" class="btn btn-primary lastVisitBtn"  data-target="logicalModal" data-toggle="modal" ng-click="" >View Last Visit</button>
    </div>
    
</div>

























