<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <h3><strong>Payments & History</strong></h3>


    <p>The App Portal provides a variety of ways to manage your account.
        From the Payments & History menu you can make a payment and view payment activity.”

    </p>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a class="nav-logo" href="">
            <img class="img-scale" src="app/images/makepayment.png">
            <h5 class="referral-align">Make a Payment</h5>
        </a>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <a class="nav-logo" href="">
            <img class="img-scale" src="app/images/paymentactivity.png">
            <h5 class="referral-align">Payment History</h5>
        </a>
    </div>


</div>