<div class="col-md-12">
    

    <div class="col-md-6 physEx-R">
        <div class="painSectoin">
            <h4>Pain</h4>
            <div class="verbalNP">
                <form class="diabeticbox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vnp" />
                        Verbal no Pain
                    </label>
             </form>
            </div>
            <div class="verbalPain">
                <form class="diabeticbox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Verbal Pain
                    </label>
             </form>
            </div>
            <div class="painRangeDD">
                <form>
                    <select class="form-control DropDwnWL">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                    </select>
                </form>
            </div>
            <div class="nonVer">
                <form class="diabeticbox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="nvp" />
                        Non Verbal Pain
                    </label>
             </form>
            </div>
            <div class="nonVerDD">
                <form>
                    <select class="form-control DropDwnWL">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                    </select>
                </form>
            </div>
        </div><!--End of top Sec-->
        <hr class= "hrule"/>
        <div class="appearVi">
            <div class="appearance">
                <form class="diabeticbox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Apperance
                    </label>
             </form>
            </div>
            <div class="apperType">
                <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            <div class="vitals">
                <form class="diabeticbox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Vitals
                    </label>
             </form>
            </div>
            <div class="vitalsEntered">
                <input class="form-control"  placeholder="Vitals" type="text" />
            </div>
        </div>
        <hr class="hrule2">
        <h4 class="neurologicTitle">Neurologic / Phych</h4>
        
        <div class="neuroSection">
            <div class="orien">
            <form class="diabeticbox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Orientation
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            <div class="vitals2">
            <form class="diabeticbox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Mood /Affect
                    </label>
             </form></div>
            <div class="moodDD">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
        </div>
        <hr class="hrule2">
        <h4 class="neurologicTitle">Peripheral Vascular</h4>
        
        <div class="neuroSection">
            <div class="orien">
            <form class="diabeticbox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        L.L. Ext
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            <div class="vitals2">
            <form class="diabeticbox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        R.L.Ext
                    </label>
             </form></div>
            <div class="moodDD">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
        </div>
        
        <div class="pedalPulse">
            <h4 class="ppTitle">Pedal Pulse</h4>
            <div class="orien2">
            <form class="diabeticbox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        
                    </label>
             </form>
          </div>
            <div class="pedalpDD">
                <label class="upper-label" for="inputLastName">Left</label>
                <form>
                    <select class="form-control DropD">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </form>
            </div><!--End of prefLangDD-->
            <div class="pedalpDD">
                <label class="upper-label" for="inputLastName">Left</label>
                <form>
                    <select class="form-control DropD">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </form>
            </div><!--End of prefLangDD-->
            <div class="refillsEntered">
                <input class="form-control"  placeholder="Refill" type="text" />
            </div>
        </div>
        <div class="diabetFt">
            <p class="ftTitle">Diabetic Foot Exam</p>
        
        </div>
         
        <div class="footExamSection">
            <div class="monoTB">
            <h5 class="">Monofilament</h5>
            </div>
            
            <div class="mono">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Left
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            <div class="mono2">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Right
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
        
        </div> 
        
        <div class="footExamSection">
            <div class="monoTB">
            <h5 class="">Babinski Reflex</h5>
            </div>
            
            <div class="mono">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Left
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            <div class="mono2">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Right
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
        
        </div> 
        
        
    </div><!--End of physical exam right side-->

    <div class="col-md-6 physEx-L">
        <div class="skinSection">
            <div class="footExamSection">
            <div class="monoTB">
               
            <h5 class="ftTitle">Skin</h5>
            </div>
            
            <div class="skinCheckBox">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Scalp/Brows
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            <div class="skinCheckBoxR">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Head/Face
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
        
        </div> 
            <div class="footExamSection topMarg">
            <div class="skinCheckBox">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Neck
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            <div class="skinCheckBoxR">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Chest
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
        </div> 
             <div class="footExamSection topMarg">
            <div class="skinCheckBox">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Back
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            <div class="skinCheckBoxR">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Abdomen
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
        </div> 
             <div class="footExamSection topMarg">
            <div class="skinCheckBox">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        L.U.Ext
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            <div class="skinCheckBoxR">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        R.U.Ext
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
        </div>  <div class="footExamSection topMarg">
            <div class="skinCheckBox">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Groin/Buttocks
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            
          
        </div>      
     </div>
        
        <div class="lymphaticSection">
            <div class="footExamSection topMarg">
            <div class="monoTB">
                <hr class= "hrule"/>
            <h5 class="ftTitle">Lymphatic</h5>
            </div>
            
            <div class="skinCheckBox">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Scalp/Brows
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            <div class="skinCheckBoxR">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Head/Face
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
        
        </div> 
        </div>
        <div class="extremities">
           
            <div class="footExamSection topMarg">
            <div class="monoTB">
            <hr class= "hrule"/>
            <h5 class="ftTitle">Extremities</h5>
            </div>
            
            <div class="skinCheckBox">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Scalp/Brows
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            <div class="skinCheckBoxR">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Head/Face
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
        
        </div> 
            <div class="footExamSection topMarg">
            <div class="skinCheckBox">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Neck
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            <div class="skinCheckBoxR">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Chest
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
        </div> 
             <div class="footExamSection topMarg">
            <div class="skinCheckBox">
                <form class="monobox">
                    <label class="checkbox-inline dbCheckBox cbsize">
                        <input type="checkbox" value="vp" />
                        Back
                    </label>
             </form>
            </div>
            <div class="apperType">
            <form>
                    <select class="form-control DropDwnWL">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                        <option>Option 6</option>
                        <option>Option 7</option>
                        <option>Option 8</option>
                        <option>Option 9</option>
                    </select>
                </form>
            </div>
            </div>
        </div>
        
    </div>
<button type="button" class="btn btn-primary svExit" ng-click="physicalExamCtrl.goToPatientList()">Save and Exit</button>
        <button type="button" class="btn btn-primary nxt" ng-click="physicalExamCtrl.goToWoundCare()">Next</button>


</div>


















