<div class="login-wrapper">
    <div class="login-header">
        <h3><strong>Registration Form</strong></h3>
        <p>
            Please Register here to access the online benefits available to our owners..
        </p>

    </div>

    <form class="form-signin">
        <div class="input-group mywidth">
            <input class="form-control mywidth" id="fname" name="fname" placeholder="First Name" type="text"/>
            <div class="input-group-addon">
                <span class="glyphicon "><img class="reg-name" src="app/images/log-img.png"></span>
            </div>
        </div>
        <div class="input-group mywidth">
            <input class="form-control mywidth" id="lname" name="lname" placeholder="Last Name" type="text"/>
            <div class="input-group-addon">
                <span class="glyphicon "><img class="reg-name" src="app/images/log-img.png"></span>
            </div>
        </div>
        <div class="input-group mywidth">
            <input class="form-control mywidth" id="email" name="email" placeholder="E-mail" type="text"/>
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-envelope glyph-color"></span>
            </div>
        </div>
        <div class="input-group mywidth">
            <input class="form-control mywidth" id="cemail" name="cemail" placeholder="Confirmation E-mail" type="text"/>
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-envelope glyph-color"></span>
            </div>
        </div>
        <div class="input-group mywidth">
            <input type="password" class="form-control mywidth" placeholder="Last 4 Digits of SSN" required/>
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-lock glyph-color"></span>
            </div>
        </div>
        <div class="input-group mywidth">
            <input type="password" class="form-control mywidth" placeholder="New Password" required/>
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-lock glyph-color"></span>
            </div>
        </div>
        <div class="input-group mywidth">
            <input type="password" class="form-control mywidth" placeholder="Confirm Password" required/>
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-lock glyph-color"></span>
            </div>
        </div>

        <div class="col-md-12">
            <button class="btn btn-primary pull-right" type="submit">
                Sign Up
            </button>

        </div>

    </form>
</div>