<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <h3><strong>Reserve My Week</strong></h3>
    <p>
        When making reservations, please remember that App weeks are divided into three color times.
        Follow the guidelines listed in the links below when planning your next vacation.
    </p>
    <h5 class="reserve-header"><strong>Account Information and Date Options</strong></h5>
    <div class="col-md-12 board-time-wrapper-main">
        <div class="spread-height">
            <div class="col-md-2 reservation-img-div">
                <img ng-src="app/images/piney_shores_icon.jpg">
            </div>
            <div class="col-md-6 border-both">
                <div class="address-tag">
                    <a href="" class="reserve-links col-md-12"><h5 class="text-left"><strong>Holiday Inn Club Vacations
                        Piney Shores Resort</strong></h5>
                    </a>
                    <a target="_blank" href="https://goo.gl/Rcq1l4">
                        8350 Piney Shores Drive Conroe, TX 77304
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row year-margin">
                    <div class="col-md-6">Year:</div>
                    <div class="col-md-6">
                        <select>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">Week:</div>
                    <div class="col-md-6">
                        Full Week
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h5 class="reserve-header"><strong>Additional Information</strong></h5>
        <h5><strong>Number of Children</strong></h5>
        <input type="number" name="quantity" min="1" max="15">
        <h5><strong>Additional Guest Over the Age of 18</strong></h5>
        <div>
            <ol class="add-list">
                <li class="add-list" ng-repeat="rweek in reserveweek.nameList">
                    <input type="text" ng-model="rweek.value"><span class="glyphicon glyphicon-remove cursor remove-btn" ng-click="reserveweek.deleteGuest($index)" ></span>
                </li>
            </ol>

            <input class="add-list btn btn-success" type="submit" ng-click="reserveweek.addGuest()" value="Add Guest">
        </div>
        <p>
            Is there an authorized guest that will be allowed to check into the unit besides the owner?
        </p>
        <uib-accordion >
            <div uib-accordion-group class="panel-default" heading="Add Authorized Guest">
            <form>
                <ol class="add-list">
                    <li class="add-list" ng-repeat="authGuest in reserveweek.authGuest">
                        <label>Autorized User</label><span class="glyphicon glyphicon-remove cursor remove-btn se-date" ng-click="reserveweek.deleteAuthGuest($index)"></span>
                        <div class="row margin-reserve-form">
                            <div class="col-md-5">First Name:</div>
                            <div class="col-md-7">
                                <input type="text" ng-model="authGuest.firstname">
                            </div>
                        </div>
                        <div class="row margin-reserve-form">
                            <div class="col-md-5">Last Name:</div>
                            <div class="col-md-7">
                                <input type="text" ng-model="authGuest.lastname">
                            </div>
                        </div>
                        <div class="row margin-reserve-form">
                            <div class="col-md-5">Street Address:</div>
                            <div class="col-md-7">
                                <input type="text" ng-model="authGuest.staddress">
                            </div>
                        </div>
                        <div class="row margin-reserve-form">
                            <div class="col-md-5">City, State, Zip:</div>
                            <div class="col-md-7">
                                <input type="text" ng-model="authGuest.address">
                            </div>
                        </div>
                        <div class="row margin-reserve-form">
                            <div class="col-md-5">Phone Number:</div>
                            <div class="col-md-7">
                                <input type="text" ng-model="authGuest.pnumber">
                            </div>
                        </div>
                        <div class="row margin-reserve-form">
                            <div class="col-md-5"> E-Mail Address:</div>
                            <div class="col-md-7">
                                <input type="text" ng-model="authGuest.email">
                            </div>
                        </div>

                    </li>
                </ol>

                <input type="button" class="reserver-add-guest-btn btn btn-success" ng-click="reserveweek.addAuthGuest()" value="Add Guest">
            </form>
            </div>
        </uib-accordion>
    </div>
    <div>
        <input class="reserver-add-guest-btn btn btn-success" type="submit" value="Continue">
    </div>
</div>