<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <h3><strong>My Reservations</strong></h3>
    <my-contract ng-repeat="resort in reserve.resortList"></my-contract>
    <table class="table table-hover table-bordered">
        <thead class="table-inverse tab-head">
        <tr>
            <th class="col-md-2 text-center">RESERVATION NUMBER</th>
            <th class="col-md-1 text-center">ACCOUNT NUMBER</th>
            <th class="col-md-1 text-center">TYPE</th>
            <th class="col-md-4 text-center">RESORT</th>
            <th class="col-md-1 text-center">CHECK IN DATE</th>
            <th class="col-md-1 text-center">NIGHTS</th>
            <th class="col-md-2 text-center">STATUS</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="slot in reserve.reserveDetails">
            <td class="text-center">
                {{slot.rno}}
            </td>
            <td class="text-center">
                {{slot.accno}}
            </td>
            <td class="text-center">
                {{slot.rtype}}
            </td>
            <td class="text-center">
                {{slot.resort}}
            </td>
            <td class="text-center">
                {{slot.cindate}}
            </td>
            <td class="text-center">
                {{slot.nights}}
            </td>
            <td class="text-center">
                {{slot.rstatus}}
            </td>
        </tr>
        </tbody>
    </table>


</div>