<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <h3 class="bottom-border-board-time"><strong>Update Password Information</strong></h3>
    <div class="row">
        <div class="board-time-wrapper">
            <div class="info-holder">
                <div class="col-md-12 legal-name-field-holder">
                    <div class="col-md-4">
                        <h5>
                            <strong>Password Details</strong>
                        </h5>
                    </div>
                </div>
                <div class="col-md-12 legal-name-field-holder">
                    <div class="col-md-4">
                        <label> Current Password:</label>
                    </div>
                    <div class="col-md-8">
                        <input class="col-md-10 input-pad" type="password" name="cpwd" placeholder="Current Password">
                    </div>
                </div>

                <div class="col-md-12 legal-name-field-holder">
                    <div class="col-md-4">
                        <label> New Password:</label>
                    </div>
                    <div class="col-md-8">
                        <input class="col-md-10 input-pad" type="password" name="npwd" placeholder="New Password">
                    </div>

                </div>

                <div class="col-md-12 legal-name-field-holder">
                    <div class="col-md-4">
                        <label> Confirm Password: </label>
                    </div>
                    <div class="col-md-8">
                        <input class="col-md-10 input-pad" type="password" name="confpwd"
                               placeholder="Confirm Password">
                    </div>
                </div>

                <div class="col-md-12" style="padding: 10px 8px 10px 20px">
                    <p>
                        <strong>Note: </strong>Your password must be at least 8 characters in length and contain at
                        least one number .
                        Using more characters and/or a mixture of upper and lower case letters increases your security.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 submit-info">
        <input class="btn btn-success edit-contact" type="button" value="Submit">
    </div>
</div>

